:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1 span,
h2 span {
  position: relative;
  display: inline-block; /* Added to allow hover effect */
  color: transparent;
  transition: all 600ms;
}

h1 span:after,
h2 span:after {
  position: absolute;
  content: attr(content);
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.87);
  /* -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left; */
  display: block;
}

h1 span:hover,
h2 span:hover {
  transform: scale(1.2);
}
/* skew(10deg, 25deg) */
@keyframes skewAnimation {
  0% {
    transform:  scale(0.7);
  }
  50% {
    transform:  scale(1.05);
  }
  90% {
    transform:  scale(1);
  }
  100%{
    transform: scale(1);
  }
}

h1 span:hover:after,
h2 span:hover:after {
  animation: skewAnimation 600ms forwards;
  color: #fb8500;
}

